In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("data/combined.csv")
data.head()

,country,score,gdp_per_capita,family,life_expectancy,freedom,corruption,generosity,dystopia_residual,year,social_support
0,Switzerland,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,2015,NaN
1,Iceland,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,2015,NaN
2,Denmark,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,2015,NaN
3,Norway,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,2015,NaN
4,Canada,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,2015,NaN

In [3]:
def standardize(df, column_names):
    for column in column_names:
        df[column] = (df[column] - df[column].mean()) / df[column].std()
        
    return df

In [4]:
data_2015 = data[data['year'] == 2015][["country", "score", "gdp_per_capita", "family", "life_expectancy", "freedom", "generosity", "corruption", "dystopia_residual"]]
data_2015 = standardize(data_2015, ["gdp_per_capita", "family", "life_expectancy", "freedom", "generosity", "corruption", "dystopia_residual"])

data_2015 = data_2015.rename(columns={"family": "social_support"})
data_2015 = data_2015.drop(columns=["dystopia_residual"])
data_2015.describe()

,score,gdp_per_capita,social_support,life_expectancy,freedom,generosity,corruption
count,158.000000,1.580000e+02,1.580000e+02,1.580000e+02,1.580000e+02,1.580000e+02,1.580000e+02
mean,5.375734,-2.248553e-16,-3.147974e-16,-1.798842e-16,1.349132e-16,2.360981e-16,8.994212e-17
std,1.145010,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
min,2.839000,-2.098967e+00,-3.638614e+00,-2.550854e+00,-2.844296e+00,-1.873115e+00,-1.194843e+00
25%,4.526000,-7.450117e-01,-4.927999e-01,-7.733370e-01,-6.654926e-01,-6.847145e-01,-6.810303e-01
50%,5.232500,1.590287e-01,1.412203e-01,2.689260e-01,4.578894e-02,-1.670720e-01,-3.015963e-01
75%,6.243750,7.747313e-01,8.200602e-01,7.315637e-01,7.994913e-01,5.729726e-01,3.068559e-01
max,7.587000,2.094367e+00,1.509658e+00,1.598649e+00,1.600044e+00,4.409242e+00,3.403102e+00

In [5]:
data_2019 = data[data['year'] == 2019][["country", "score", "gdp_per_capita", "social_support", "life_expectancy", "freedom", "generosity", "corruption"]]
data_2019 = standardize(data_2019, ["gdp_per_capita", "social_support", "life_expectancy", "freedom", "generosity", "corruption"])
data_2019.describe()

,score,gdp_per_capita,social_support,life_expectancy,freedom,generosity,corruption
count,156.000000,1.560000e+02,1.560000e+02,1.560000e+02,1.560000e+02,1.560000e+02,1.560000e+02
mean,5.407096,-1.821904e-16,-1.366428e-16,-3.188333e-16,-2.732857e-16,2.120811e-16,-1.138690e-16
std,1.113120,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
min,2.853000,-2.272016e+00,-4.040270e+00,-2.995340e+00,-2.739702e+00,-1.940552e+00,-1.169929e+00
25%,4.544500,-7.590498e-01,-5.115926e-01,-7.330690e-01,-5.902074e-01,-7.988725e-01,-6.727736e-01
50%,5.379500,1.376858e-01,2.095177e-01,2.633213e-01,1.704905e-01,-7.712138e-02,-2.655293e-01
75%,6.184500,8.216898e-01,8.144816e-01,6.463895e-01,8.003344e-01,6.656261e-01,3.241817e-01
max,7.769000,1.955003e+00,1.387693e+00,1.717122e+00,1.663971e+00,4.001429e+00,3.621803e+00

In [6]:
data_2015.to_csv("data/2015_processed.csv", index=False)
data_2019.to_csv("data/2019_processed.csv", index=False)